# Python Fundamentals – Day 01 Notes

### 1. Comparing “Hello, World!” in Python vs Java

In [5]:
# Python – Hello, World!
print("Hello, World!")

Hello, World!

In [ ]:
# Java - Hello, World!
# public class HelloWorld {
#  public static void main(String[] args) {
#      System.out.println("Hello, World!");
# }
#}

#### Explanation

Python requires only one line to print output.

Java requires:
1. A class
2. A main method
3. Semicolons
4. Explicit syntax

## 2. Python Fundamentals – Data Types

Python is dynamically typed, meaning we don’t need to specify the data type explicitly.

In [7]:
# Integer - inshort: INT; used to store Whole Numbers
x = 10
print(x)
print(type(x))

10
<class 'int'>

In [8]:
# Float (float); used to store decimal values
y = 10.5
print(y)
print(type(y))

10.5
<class 'float'>

In [9]:
# Boolean - inshort: bool; used to represent True, False values
a = True
b = False
print(a, b)
print(type(a))

True False
<class 'bool'>

In [10]:
# string - inshort: str; representing collection of characters using with "", '',''' ''' these Quotes
# strings are immutable
name = "Python"
print(name)
print(type(name))

Python
<class 'str'>

## 3. String Concatenation
Python does not allow direct concatenation of string and integer.

In [11]:
age = 20
print("My age is " + age)

TypeError: can only concatenate str (not "int") to str

### For this we got Explicit and Implicit conversion

## Explicit Conversion (Type Casting)

In [12]:
age = 20
print("My age is " + str(age))  # explicitly converts INT to str

My age is 20

### Using Comma (Best Practice for Printing)

In [13]:
age = 20
print("My age is", age) # Here, Python automatically handles conversion here.

My age is 20

## Implicit Type Conversion

In [14]:
x = 10      # int
y = 2.5     # float
z = x + y

print(z)
print(type(z))           # int → float conversion happens automatically

12.5
<class 'float'>

### Common conversion functions:

1. int()
2. float()
3. str()
4. bool()

## 5. type() Function

In [18]:
x = 10
y = 10.5
z = "Python"
a = True

# Used to check the data type of a variable.
print(type(x))
print(type(y))
print(type(z))
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

## 6. Complex Data Type (complex)
Python supports complex numbers in the form:
#### a + bj
    Here, 
    a → real part
    b → imaginary part
    j → imaginary unit

In [21]:
c = 3 + 4j
print(c)
print(type(c))

(3+4j)
<class 'complex'>

## 7. Variables in Python
### What is a Variable?
    A variable is a name that refers to a value stored in memory.
    In Python, variables are created when you assign a value to them.

In [23]:
x = 10             # x stores Integer
name = "Python"   # name stores string
price = 99.99     # price stores float

## Rules for Naming Variables
    starts with a letter or underscore _
    Can contain letters, digits, underscore

Cannot start with a number and also we can't use keywords

In [24]:
valid_name = 10
_valid = 20
# 2value = 30  # invalid

In [25]:
print(_valid)

20

## 8. Dynamic Typing in Python
### Python is a dynamically typed language, which means:
    A variable’s data type is decided at runtime
    The same variable can store different data types at different times

In [27]:
x = 10
print(type(x))

x = "Python"
print(type(x))

x = 3.14
print(type(x))


# Python does not restrict variable type.
# which means 1st variable stores int; next - string and next float

<class 'int'>
<class 'str'>
<class 'float'>

## 9. String Typing in Python
### What is String Typing?
    In Python, a string is a sequence of characters enclosed in quotes.
    Python treats strings as immutable objects.

In [29]:
# creating string
s1 = "Hello"
s2 = 'Python'

# checking string type
text = "Dynamic Typing"
print(type(text))

# string Index
text = "Dynamic Typing"
print(type(text))

# string slicing
print(text[0:4])
print(text[:3])
print(text[3:])

word = "Python"
# word[0] = "J" # error, cannot change a string once created.

<class 'str'>
<class 'str'>
Dyna
Dyn
amic Typing

### Variable with String Typing Example

In [30]:
x = "10"  # becoz of quotes python consider it as string
y = 10    # INT

print(type(x))
print(type(y))

<class 'str'>
<class 'int'>

## 10. mathematical operation/ Arithematic operators

In [33]:
a = 5
b = 3

print(a + b)   # Addition
print(a - b)   # Subtraction
print(a * b)   # Multiplication
print(a / b)   # Division (returns float)
print(a // b)  # Floor Division (returns DOWN to the nearest integer)
print(a % b)   # Modulus (returns remainder)
print(a ** b)  # Power

8
2
15
1.6666666666666667
1
2
125

## 11. Comparison (Relational) Operators

In [34]:
# Comparison operations always return a boolean value.
x = 10
y = 5

print(x == y)
print(x != y)
print(x > y)
print(x <= y)
print(x < y)
print(x >= y)

False
True
True
False
False
True

## 12. Logical Operators

In [35]:
a = 10
b = 5

print(a > 5 and b > 2)   # Best for combining multiple conditions
print(a > 5 or b > 10)
print(not(a > 5))

True
True
False

## 13. Assignment Operators

In [36]:
x = 10
x = +10
x = -10
print(x)

# this makes code short and easy 
x += 5
print(x)
x -= 3
print(x)
x *= 2
print(x)
x /= 3
print(x)

-10
-5
-8
-16

## 14. String Formatting in Python
     String formatting is used to insert variables into strings.

### Method 1: f-Strings

In [38]:
name = "Amulya"
age = 23

print(f"My name is {name} and my age is {age}")


print(f"Next year age will be {age + 1}")  # age + 1 → 23 + 1 → 24

My name is Amulya and my age is 23
Next year age will be 24

### Method 2: .format() Method

In [40]:
name = "Amulya"
age = 23

print("My name is {} and my age is {}".format(name, age))

# using index positions
print("My name is {0} and I am {1} years old".format(name, age))

My name is Amulya and my age is 23
My name is Amulya and I am 23 years old

## 15. Conditional / Branching Statements in Python
if, elif, else

    What are Conditional (Branching) Statements?
    Conditional statements are used to make decisions in a program.

## 1. if Statement

In [1]:
age = 18

if age >= 18:
    print("Eligible to vote")

#if condition:
#    statement(s)  # Indentation is mandatory in python

Eligible to vote

### 2. if–else Statement

In [2]:
# possible for two possible outcomes

#if condition:
#    statement(s)
#else:
#    statement(s)

age = 16
if age >= 18:
    print("Eligible to vote")
else:
    print("Not eligible to vote")

Not eligible to vote

### 3. if–elif–else Statement

In [3]:
# possible for multiple possible outcomes

#if condition1:
#    statement(s)
#elif condition2:
#    statement(s)
#else:
#    statement(s)

marks = 85

if marks >= 90:
    print("Grade A")
elif marks >= 75:
    print("Grade B")
elif marks >= 60:
    print("Grade C")
else:
    print("Fail")

Grade B

## Using Logical Operators in Conditions

In [4]:
age = 20
citizen = True

if age >= 18 and citizen:    # AND operator is used
    print("Eligible to vote")
else:
    print("Not eligible to vote")

Eligible to vote

## 4. Nested if Statement

In [5]:
age = 20
has_id = True

if age >= 18:
    if has_id:
        print("Entry allowed")
    else:
        print("ID required")
else:
    print("Age restriction")

Entry allowed