Python Session 4
#### Tuples in Python
* These are immutable in nature
* Tuples just work like list, but it represents with (): parenthesis
* Collection of characters in different datatypes enclosing with ()
* Tuples will also works with indexing
  ##### We can create tuple
  1. Empty Tuple - (0)
  2. Tuple with multiple items - Details = (1,2,3,"Ammu")
  3. Tuple without Parenthesis - Details =  1,2,3,"Ammu"
  4. Single Item Tuple - Details = ('Hello')
##### Applications
* Storing fixed data like email,phone number,Ids

In [4]:
# Creating Tuple
A = ("Dhurandhar", "Block buster", 1)
print(A)
type(A)

('Dhurandhar', 'Block buster', 1)

tuple

In [5]:
A[0][1]

'h'

In [8]:
# We can use the word 'tuple' like builtin function also
a = tuple("Dhurandhar")
print(a)
type(a)

('D', 'h', 'u', 'r', 'a', 'n', 'd', 'h', 'a', 'r')

tuple

In [12]:
#Repetition of the Tuple
x = ("funky",1,2,4)
x*3

('funky', 1, 2, 4, 'funky', 1, 2, 4, 'funky', 1, 2, 4)

In [50]:
# To get Boolean
4 in (1,2,3)

False

In [43]:
# Concatenation of the Tuple
a = ("CSE")
b = ("Mathematics")
c = ("Science")
d = a + b + c
print(d)

CSEMathematicsScience

In [13]:
x[0::]

('funky', 1, 2, 4)

In [14]:
x[::-1]

(4, 2, 1, 'funky')

In [16]:
x[:2:]

('funky', 1)

In [36]:
#unpack the Tuple 
s = ("Amulya","Kurapati","Guntur")
a,b,c = s
print(a)
print(b)
print(c)

Amulya
Kurapati
Guntur

In [24]:
a, b, c = '123'
print(a)
print(b)
print(c)

1
2
3

In [47]:
# Tuple Unpacking with * Astrix
a = (1,2,3)
x, *y, z = a # * Astrix works like unpack and write like a tuple
print(a)

(1, 2, 3)

In [25]:
#Nested Tuple
a = ("Amulya", "Kurapati","India")
b = (1,2,3,4,5,6)
c = (a,b)
print(c)

(('Amulya', 'Kurapati', 'India'), (1, 2, 3, 4, 5, 6))

In [34]:
#creating for loop to make iteration on tuple
x = ("Amulya")
n = 5
for i in x:
    #x = i
    #i = x
    #x = x
    x = (x, )
    print(x)

('Amulya',)
(('Amulya',),)
((('Amulya',),),)
(((('Amulya',),),),)
((((('Amulya',),),),),)
(((((('Amulya',),),),),),)

In [51]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [53]:
s = ("Dhurandhar")
min(s)

'D'

In [54]:
len(s)

10

In [55]:
type(s)

str

### Sets in Python

##### A Set in Python is used to store multiple items with following properties.

* No duplicate elements. If try to insert same item again, it overwrites before one.
* unordered collection. When we access all items, they are accessed without any specific order and we cannot access items using indexes as we do in lists.
* Internally use hashing that makes set efficient for search, insert and delete operations.
* It gives a major advantage over a list for problems with these operations.
* Mutable, meaning we can add or remove elements after their creation,
* The individual elements within set cannot be changed directly

In [5]:
# 1st Property
x = {"Amulya","Kurapati","india"}       #If values in set are unordered,It automatically prints in a order way
print(x)


y = {"Amulya","kurapati","amulya"}      #when searching for duplicates it also considers #case sensitves
print(y)


z = {"amulya","kurapati","amulya"}    
print(z)

{'Kurapati', 'india', 'Amulya'}
{'kurapati', 'amulya', 'Amulya'}
{'amulya', 'kurapati'}

In [9]:
a = {"amulya", "kurapati", "india", True, 1, 2}       #System considers '1' as True, so '1' becomes duplicate
print(a)


b = {"amulya","kurapati",0,False,3}  #same like above with false, but Considers only the first Occurances
print(b)

{True, 2, 'kurapati', 'india', 'amulya'}
{0, 'amulya', 'kurapati', 3}

In [10]:
# length of set
a = {"amulya","kurapati",1,2}
print(len(a))

4

In [13]:
print(a[0])      #cannot retrive with indexing

TypeError: 'set' object is not subscriptable

###### Frozen sets
* This Sets are immutable but can perform union, intersection & difference

In [14]:
# Normal set (mutable)
s = set(["a", "b", "c"])
print("Normal Set:", s)

# Frozen set (immutable)
fs = frozenset(["e", "f", "g"])
print("Frozen Set:", fs)

Normal Set: {'c', 'b', 'a'}
Frozen Set: frozenset({'g', 'f', 'e'})

In [15]:
# Normal set (mutable)
s = set(["a", "b", "c"])
s[1] = 'x'
print("Normal Set:", s)

# Frozen set (immutable)
fs = frozenset(["e", "f", "g"])
print("Frozen Set:", fs)

TypeError: 'set' object does not support item assignment

In [16]:
# methods of set
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [17]:
s = {"a", "b", "c"}
s.add("d")  #same like .union(),.intersection()
print(s)

{'c', 'd', 'b', 'a'}

### Dictionaries in Python
* Python dictionary is a data structure that stores data in key-value pairs,
* where each key is unique and is used to retrieve its associated value.
* It is mainly used when you want to store and access data by name (key) instead of by position like in list.

In [18]:
dict1 = {"name": "Amulya", "Age": 23}
print(dict1)

{'name': 'Amulya', 'Age': 23}

In [19]:
print(dict1['name'])

Amulya

In [20]:
# Adding/updating to the keys in dictionary
d = {1: 'amulya', 2: 'Kurapati', 3: 'India'}

# Adding a new key-value pair
d["age"] = 23

# Updating an existing value
d[1] = "Python dict"
print(d)

{1: 'Python dict', 2: 'Kurapati', 3: 'India', 'age': 23}

##### Removing Dictionary Items
Dictionary items can be removed using built-in deletion methods that work on keys:

* del: removes an item using its key
* pop(): removes the item with the given key and returns its value
* clear(): removes all items from the dictionary
* popitem(): removes and returns the last inserted keyâ€“value pair

In [22]:
d = {1: 'a', 2: 'b', 3: 'c', 'age':22}

# Using del 
del d["age"]
print(d)

# Using pop() 
val = d.pop(1)
print(val)

# Using popitem()
key, val = d.popitem()
print(f"Key: {key}, Value: {val}")

# Using clear()
d.clear()
print(d)

{1: 'a', 2: 'b', 3: 'c'}
a
Key: 3, Value: c
{}

#### Nested Distionary
* InShort,Dictionary inside Another dictionary
* outer Dictionary - Main category
* inner Dictionary - detailed information

In [2]:
students = {
    101: {"name": "Ammu", "age": 23, "course": "CS"},
    102: {"name": "vineela", "age": 22, "course": "AI"}
}

print(students[101]["name"])

Ammu

#### Dictionary Comprehension
Inshort, we create distionaries using loops

In [3]:
squares = {x: x*x for x in range(1,6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

#### Shallow Copy
1. shallow copy creates a new dictionary but does NOT copy inner objects completely.
2. Inner objects are still shared between original and copied dictionary.

In [4]:
import copy

original = {"a": 1, "b": [10, 20]}
shallow = copy.copy(original)

shallow["b"][0] = 99

print(original)

{'a': 1, 'b': [99, 20]}

#### Deep Copy
deep copy creates a completely independent copy.

In [5]:
import copy

original = {"a": 1, "b": [10, 20]}
deep = copy.deepcopy(original)

deep["b"][0] = 99

print(original)

{'a': 1, 'b': [10, 20]}